@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #ffffff;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.main-header {
  padding-bottom: 60px;
  margin-bottom: 59px;
  background-color: #f4f7f9;
}
.catalog-page .main-header {
  margin-bottom: 21px;
}
.menu-top-wrapper {
 width: 100%;
 margin-bottom: 46px;
 background-color: #293449;
}
.menu-top-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  line-height: 18px;
}
.header-logo {
  position: absolute;
  top: 0px;

  width: 110px;

  padding: 13px 55px 15px 55px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.catalog-page .header-logo:focus,
.catalog-page .header-logo:hover {
  background-color: #ca2c37;
}
.catalog-page .header-logo:active {
  background-color: #ba2732;
}
.search-form {
  position: relative;
  width: 270px;
  margin-left: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #293449;
}
.search-form:hover {
  background-color: #212a3a;
}
.search {
  width: 270px;

  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 49px;

  background-color: inherit;
  border: none;
  outline: none;
}
.search:focus {
  background-color: #ffffff;
}

.search-form svg {
  position: absolute;
  top: 11px;
  left: 10px;
  border: none;

  width: 20px;

  background-color: #293449;
  outline: none;
  opacity: 0.3;
}
.search-form:hover svg {
    background-color: #212a3a;
    opacity: 1;
}
.search:focus + svg {
  background-color: #ffffff;
}
.search:focus + svg path {
  fill: #ee3643;
}
.header-button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding: 12px 0;
}
.bookmark {
   padding-left: 44px;
}
.basket-top {
  display: block;
  padding-left: 50px;
}
.header-button:hover,
.header-button:focus {
  background-color: #212a3a;
}
.header-button:active {
  background-color: #161d29;
}
.bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 16px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmark:focus::before,
.bookmark:hover::before {
  opacity: 1;
}
.bookmark:hover:active {
  opacity: 0.5;
}
.catalog-page .basket-top {
  background-color: #ee3643;
}
.basket-top::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.basket-top:focus::before,
.basket-top:hover::before {
  opacity: 1;
}
.basket-top:hover:active {
  opacity: 0.5;
}
.header-button:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
.checkout {
  width: 150px;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 14px;
  text-align: center;
  background-color: #63a63e;
}
.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}
.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}
.menu-middle-wrapper {
  width: 100%;
}
.menu-middle-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about-store {
  width: 197px;
  margin: 0px;
  margin-left: 50px;
  padding-top: 4px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}
.header-contacts {
  margin: 0px;
  padding: 0px;
  margin-left: 71px;
  list-style: none;
}
.header-contacts-number {
  position: relative;
  width: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 72px;

  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.header-contacts-number::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 14px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header-contacts-address {
  padding-top: 5px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: 69px;
  list-style: none;
}
.user-navigation-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #ee3643;
}
.login {
  width: 121px;
}
.registration {
  width: 150px;
  padding-left: 25px;
}
.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3)
}
.user-navigation-in svg {
  padding-left: 17px;
  padding-right: 7px;
}
.user-navigation-in:hover path,
.user-navigation-in:focus path {
  fill: #293449;
}
.user-navigation-in:active path {
  fill: rgba(0, 0, 0, 0.3);
}
.user-navigation-in {
  width: 121px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
}
.user-navigation-registration {
  width: 150px;
}
.user-navigation-account-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 11px;
  margin-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}
.user-navigation-profile {
  position: relative;
  color: #000000;
}
.user-navigation-profile:active {
  opacity: 0.3;
}
.user-navigation-profile svg {
  padding-left: 13px;
  padding-right: 10px;
  width: 20px;
  height: 18px;
}
.user-navigation-profile path {
  fill: #c5c5c5;
}
.user-navigation-profile:hover path,
.user-navigation-profile:focus path {
  fill: #293449;
}
.user-navigation-profile:active path {
  fill: #c5c5c5;
}
.user-navigation-logout svg {
  padding-left: 35px;
  padding-right: 10px;
}
.user-navigation-logout:hover path,
.user-navigation-logout:focus path {
  fill: #293449;
}
.user-navigation-logout:active path {
  fill: #c5c5c5;
}
.my-orders,
.account {
  margin-left: 51px;
  padding-left: 17px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.account {
  margin: 0px;
  padding-left: 32px;
}
.my-orders:hover,
.my-orders:focus,
.account:hover,
.account:focus {
  color: #ee3643;
}
.my-orders:active {
  opacity: 0.3;
}
.account:active {
  display: none;
}
.main-navigation {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
  background-color: #32425c;
}
.site-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
}
.site-navigation-link,
.site-navigation-current {
  display: block;
  width: 100%;
  padding: 20px 30px 23px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.site-navigation-item:first-of-type {
  padding-left: 20px;
}
.site-navigation-item:last-of-type {
  padding-right: 25px;
}
.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #293449;

}
.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}
.promo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 53px;
}
.block {
  position: relative;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}
.block:nth-child(n+4) {
  margin-right: 0;
}
.promo-material {
  display: block;
  width: 210px;
  padding-top: 20px;
  padding-left: 21px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.promo-materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
}
.promo-instrument::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
}
.promo-technique::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
}
.promo-discount::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
}
.promo-delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
}
.promo-material-link {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.promo-material-link:hover,
.promo-material-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-material-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.flag {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.promo-materials {
  background-color: #ffbf47;
}
.promo-instrument {
  background-color: #3bbce3;
}
.promo-technique {
  background-color: #dc91d8;
}
.promo-discount {
  background-color: #8ed78f;
}
.promo-delivery {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0;
  background-color: #ffc047;
}
.slider-wrapper {
  position: relative;
  width: 620px;
  height: 266px;
  margin-right: 20px;
}
.promo-item {
  display: block;
  margin-left: 24px;
  padding-top: 23px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}
.promo-note {
  display: block;
  margin-top: 1px;
  margin-left: 24px;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}
.slider-controls {
  position: absolute;
  bottom: 37px;
  left: 297px;
  z-index: 20;

  font-size: 0;
}
.slider-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  vertical-align: bottom;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.promo-driils {
  width: 620px;
  height: 266px;
  background-image: url("../img/drill.jpg");
  background-repeat: no-repeat;
  background-color: grey;
}
.promo-perforators {
  width: 620px;
  height: 266px;
  background-image: url("../img/perforators.jpg");
  background-repeat: no-repeat;
  background-color: grey;
}
.promo-driils,
.promo-perforators {
  display: none;
}
#slider1:checked ~ .slider-controls label[for="slider1"],
#slider2:checked ~ .slider-controls label[for="slider2"] {
  background-color: #ee3643;
}
#slider1:checked ~ .promo-driils,
#slider2:checked ~ .promo-perforators {
  display: block;
}
.slider {
  position: absolute;
  top: 114px;
  z-index: 3;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.pre-slide {
  left: 25px;
}
.next-slide {
  right: 22px;
}
.main-button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;

  background-color: #ee3643;
  text-transform: uppercase;
}
.slider-wrapper .main-button {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 49px;
  padding-top: 10px;
}
.main-button:hover,
.main-button:focus {
  background-color: #ca2c37;
}
.main-button:active {
  background-color: #ba2732;
}

.popular-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.popular-item .catalog-item:nth-child(4n) {
  margin-right: 0px;
}
.popular-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}
.popular-header .main-button {
  width: 253px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  margin-top: 25px;
  margin-right: 26px;
  margin-bottom: 26px;
  text-align: center;
}
.popular {
  margin: 0;
  padding: 0;
  padding: 30px 0px 0px 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}
.popular-producers {
  margin-bottom: 65px;
}
.producer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.producer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}
.producer:nth-child(4n) {
  margin-right: 0px;
}
.producer-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.producer:focus,
.producer:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.producer:active {
  opacity: 0.5;
}
.catalog-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sorting {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
}
.selection {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #f7f3ec;
  text-transform: uppercase;
}
.sorting .selection {
  margin-right: 118px;
}
.selection-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  margin-right: 40px;
  list-style: none;
}
.selection-option {
  position: relative;
  margin-left: 20px;
}
.selection-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}
.selection-link:hover,
.selection-link:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.selection-link:active {
  color: #ee3643;
  border-bottom: none;
}
.sorting-pointer {
  padding: 10px 0px;
}
.selection-link-sorting:first-of-type {
  padding-right: 21px;
}
.selection-link-sorting:hover path {
  opacity: 0.3;
}
.selection-link-sorting:active path,
.selection-link-sorting:focus path {
  fill: #ee3643;
  opacity: 1;
}
.catalog {
  width: 700px;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.catalog-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid #eaeaea;
}
.catalog-page .catalog-item:nth-child(3n) {
  margin-right: 0px;
}
.shopping-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
}
.button-buy,
.button-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  font-weight: normal;
}
.catalog-item .shopping-menu {
  display: none;
}
.catalog-item:hover,
.catalog-item:focus {
-webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
        box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.catalog-item:hover .shopping-menu,
.catalog-item:focus .shopping-menu {
  display: block;
}
.catalog-items {
  width: 218px;
  height: 168px;
  max-width: 100%;
}
.name-of-item {
  padding: 0;
  margin: 0;
  padding: 0 25px;
  margin-top: 8px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.old-price {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
}
.new-price {
  display: block;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;

  line-height: 18px;
  text-transform: uppercase;
}
.new-price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}
.button-buy,
.button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.button-buy {
  position: relative;
  background-color: #63a63e;
}
.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}
.button-buy::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 10px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.button-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}
.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425c;
}
.button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}
.producer {
  border: solid 1px #eaeaea;
  width: 220px;
  height: 145px;
  text-align: center;
}
.services {
  position: relative;
  padding-top: 66px;
  background-color: #f4f7f9;
  color: #000000;
}
.services .сompany-details {
  width: 400px;
}
.services-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 99px;
  margin-top: 70px;
}
.delivery::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 0px;
  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
}
.warranty::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0px;
  width: 389px;
  height: 283px;

  background-image: url("../img/quality.png");
}
.credit::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
}
.service-name {
  margin: 0;
  padding: 0px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}
.delivery .сompany-details {
  width: 275px;
  margin-bottom: 0;
}
.warranty .сompany-details {
  width: 379px;
  margin-bottom: 0;
}
.credit .сompany-details {
  width: 279px;
  margin-bottom: 0px;
}
.credit .main-button {
  width: 195px;
  padding: 10px 0;
  margin-top: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: #ff5357;
}
.service-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}
.delivery,
.warranty,
.credit {
  display: none;
}
.service-point {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;

  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 16px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;

  background-color: #32425c;
  border: none;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}
.service-point:hover,
.service-point:focus {
  background-color: #293449;
}
.service-point:active {
  color: #32425c;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.first-column {
  position: relative;
  margin-right: 80px;
}
.first-column::after {
  content: "";
  position: absolute;
  top: -46px;
  right: 0px;
  width: 10px;
  height: 279px;

  background-image: url("../img/shadow.png");
}
#delivery-point:checked ~ .second-column .delivery,
#warranty-point:checked ~ .second-column .warranty,
#credit-point:checked ~ .second-column .credit {
  display: block;
}
#delivery-point:checked ~ .first-column label[for="delivery-point"],
#warranty-point:checked ~ .first-column label[for="warranty-point"],
#credit-point:checked ~ .first-column label[for="credit-point"] {
  color: #32425c;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.about-company {
  color: #000000;
}
.about-company .container {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin-top: 77px;
 margin-bottom: 86px;
}
.company-description {
  width: 520px;
  margin-right: 120px;
}
.short-about-company,
.сompany-details,
.сompany-details-delivery {
  margin: 0;
  padding: 0;
}
.short-about-company {
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}
.сompany-details {
  width: 520px;
  margin-bottom: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}
.сompany-details-delivery {
  width: 390px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}
.partners {
  margin-bottom: 0px;
  margin-top: 23px;
  padding: 0px;

  font-size: 18px;
  line-height: 20px;
  list-style: none;
}
.partner-name {
  position: relative;
  margin-left: 35px;
  margin-bottom: 19px;
}
.partner-name:last-of-type {
  margin-bottom: 0;
}
.partner-name::before {
  position: absolute;
  top: 8px;
  left: -35px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}
.company-description .main-button {
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 40px 10px;
  margin-top: 36px;
}
.little-map {
  background-color: grey;
}
.main-contacts .сompany-details {
  width: 180px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.main-contacts .main-button {
  width: 300px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 38px;
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
.icon-home {
  margin-top: 2px;
}
.breadcrumbs-item {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 17px;
  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.png");
}
.breadcrumbs-item:last-child::after {
  display: none;
}
.breadcrumbs-link,
.breadcrumbs-current {
  margin-right: 40px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.catalog-name {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  padding-left: 28px;
  padding-bottom: 32px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}
.filters-form {
  margin-top: 10px;
}
.filters {
  width: 220px;
  margin-right: 20px;
}
.filter-range {
  width: 220px;
}
.price-controls {
  position: relative;
  margin-bottom: 24px;
  font-size: 0;
}
.min-price,
.max-price {
  width: 95px;
  height: 38px;
  margin: 0;
  margin-right: 30px;

  color: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background: #f7f3ec;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.max-price {
  position: relative;
  margin-right: 0;
}
.price-range {
  position: absolute;
  left: 105px;
  top: 2px;

  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
}
.range-controls {
  position: relative;
  margin-bottom: 9px;
  padding: 39px 20px;

  background-color: #f7f3ec;
}
.range-controls .scale {
  width: 180px;
  height: 2px;

  background: #d7dcde;
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: rgba(3, 198, 120);
}
.range-toggle {
  position: absolute;
  top: 30px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 20px;
}
.range-toggle-max {
  left: 160px;
}
.filter-fields,
.filter-button {
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}
.filter-fields {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #f7f3ec;
}
.filter-field {
  margin-bottom: 15px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.filter-fields:last-of-type {
  border: none;
  margin-bottom: 60px;
}
.filter-options {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}
.filter-option label {
  position: relative;
  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  z-index: 1;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;
  width: 26px;
  height: 23px;
  z-index: 2;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before {
  content: "";

  position: absolute;

  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}
.filter-input-radio + label:focus,
.filter-input-radio + label:hover {
  opacity: 0.6;
}
.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label{
  opacity: 0.4;
}
.filter-button {
  width: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-bottom: 60px;
  margin-top: 30px;

  list-style: none;
}
.pagination-item {
  margin-right: 10px;
}
.pagination-link-current,
.pagination-link,
.pagination-link-next {
  display: inline-block;
  min-width: 38px;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 3px;
}
.pagination-link-next {
  padding-left: 28px;
  padding-right: 32px;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-transform: uppercase;
}
.pagination-link {
  border: 1px solid #e5e5e5;
  color: #000000;
}
.pagination-link:hover,
.pagination-link:focus,
.pagination-link-next:hover,
.pagination-link-next:focus {
  border: 1px solid #bdc6ca;
}
.pagination-link:active,
.pagination-link-next:active {
  border: 1px solid #ee3643;
}
.pagination-link-current {
  color: #ffffff;
  background-color: #ee3643;
}
.about-perforators {
  padding-top: 65px;
  padding-bottom: 70px;
  color: #000000;
  background-color: #f4f7f9;
}
.about-perforator {
  padding: 0px;
  margin: 0px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.perforator-details {
  margin: 0px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}
.main-footer {
  background-color: #32425c;
}
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-logo {
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 24px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.footer-contacts {
  width: 323px;
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-navigation-main,
.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 640px;
  margin: 0px;
  padding: 0px;
  margin-top: 38px;
  margin-left: 67px;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.footer-navigation {
  margin-top: 0px;
  margin-bottom: 72px;
  padding-left: 23px;
}
.list-items .footer-navigation-link{
  color: #ffd180;
}
.footer-navigation-link:hover,
.footer-navigation-link:focus,
.footer-feedback-mail:hover,
.footer-feedback-mail:focus,
.footer-developer-site:hover,
.footer-developer-site:focus {
  text-decoration: underline;
}
.footer-navigation-link:active {
  opacity: 0.5;
}
.footer-navigation-item,
.list-items {
  padding-right: 60px;
}
.footer-navigation-item {
  margin-bottom: 35px;
}
.list-items:last-child,
.footer-navigation-item:nth-child(5) {
  padding: 0px;
}
.bottom-footer {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}
.bottom-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 30px;
}
.footer-feedback-mail,
.footer-developer-site {
  color: #ffd180;
}
.footer-feedback-mail:active,
.footer-developer-site:active {
  color: #ee3643;
}
.footer-copyright {
  width: 230px;
  margin: 0px;
  padding: 0px;
  margin-right: 158px;
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 132px;
  margin-top: -3px;
  padding: 0;
  list-style: none;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  background-color: #212a3a;
}
.social-button:focus,
.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}
.footer-feedback {
  width: 135px;
  margin-right: 50px;
  margin-left: 115px
}
.footer-developer {
  width: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal {
  position: fixed;
  background-color: #ffffff;
}
.write-us-items {
  display: none;

  bottom: 200px;
  left: 50%;
  width: 460px;
  z-index: 3;
  margin-left: -300px;
  padding: 40px 80px 37px 80px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}
.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;
}
.write-us-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
}
.write-us-item label {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.write-us-item:last-of-type {
  width: 460px;
  margin: 0;
}
.sender-name,
.email,
.mail-text {
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: 2px solid #dee3e4;

  font-size: 0;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}
.sender-name {
  width: 240px;
  margin-right: 20px;
}
.mail-text {
  min-width: 460px;
  max-width: 460px;
  min-height: 114px;
  margin-bottom: 37px;
}
.form-name,
.form-email {
  width: 220px;
  min-height: 38px;
}
.button-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  background-color: #ffffff;
}
.button-close::before,
.button-close::after {
  content: "";

  position: absolute;

  top: 9px;
  right: -2px;
  width: 26px;
  height: 4px;

  background-color: #ee3643;
}
.button-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.button-send {
  padding: 0;
  margin: 0;
  font-size: 0px;
  border: none;
  outline: none;
}
.button-send {
  width: 460px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;

  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  cursor: pointer;
}
.map-popup {
  display: none;
  top: 50%;
  left: 50%;
  z-index: 3;

  width: 940px;
  height: 447px;
  margin-top: -280px;
  margin-left: -470px;

  -webkit-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.75);

          box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.75);
}
.map-popup-show {
  display: block;
}
.map-popup .button-close {
  right: 20px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.basket {
  display: none;
  width: 620px;
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 3;
  margin-left: -300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}
.bottom-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 37px 80px;
  background-color: #f1f1f1;
}
.add-to-basket {
  position: relative;
  padding: 0;
  margin: 0;
  margin: 68px 0;
  padding-left: 179px;

  font-size: 30px;
  line-height: 30px;
}
.add-to-basket::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 81px;
  width: 66px;
  height: 66px;
  z-index: 3;

  background-image: url("../img/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.basket-close {
  margin: 0;
  padding: 0;
  border: none;
}
.buy-now,
.basket-close {
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}
.buy-now {
  display: block;
  margin-right: 20px;
  color: #ffffff;
  background-color: #ee3643;
}
.basket-close {

  background-color: #ffffff;
  color: #000000;
}
