body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #ffffff;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  padding-bottom: 60px;

  background-color: #f4f7f9;
}
.menu-top-wrapper{
 width: 100%;
 margin-bottom: 45px;
 background-color: #293449;
}
.menu-top-wrapper .container {
  display: flex;
  justify-content: flex-start;
  line-height: 18px;
}
.header-logo {
  width: 110px;
  padding: 13px 55px 15px 55px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.catalog-page .header-logo:focus,
.catalog-page .header-logo:hover {
  background-color: #ca2c37;
}
.catalog-page .header-logo:active {
  background-color: #ba2732;
}

.search {
  width: 270px;
  font: inherit;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 49px;
  vertical-align: middle;
  background-color: inherit;
  border: none;
}
.search:hover
.search:focus {
  background-color: #212a3a;
}
.header-button {
  width: 150px;
  text-align: center;
  padding: 14px;
}
.header-button:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
.checkout {
  width: 150px;
  padding: 14px;
  text-align: center;
  background-color: #63a63e;

}
.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}
.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}
.menu-middle-wrapper {
  width: 100%;
}
.menu-middle-wrapper .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.about-store {
  width: 195px;
  margin: 0px;
  margin-left: 50px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}
.header-contacts {
  margin: 0px;
  padding: 0px;
  margin-left: 70px;
  list-style: none;
}
.header-contacts-number {
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.header-contacts-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}
.user-navigation {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: 69px;
  list-style: none;
}
.user-navigation-link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #ee3643;
}
.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3)
}
.user-navigation-in {
  margin-right: 10px;
}

.user-navigation-account-in {
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 14px;
  margin-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}
.user-navigation-profile {
  color: #000000;
  padding-left: 47px;
  padding-right: 39px;
}
.user-navigation-logout {
  padding-top: 10px;
}
.account-details {

}
.my-orders,
.account {
  margin-left: 51px;
  padding-left: 17px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.account {
  margin: 0px;
  padding-left: 32px;
}
.my-orders:hover,
.my-orders:focus,
.account:hover,
.account:focus {
  color: #ee3643;
}
.my-orders:active {
  opacity: 0.3;
}
.account:active {
  display: none;
}
.main-navigation {
  margin-top: 44px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 rgb(41, 52, 73);

}
.site-navigation{
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation-link,
.site-navigation-current {
  display: block;
  padding: 15px 30px 15px 30px;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #293449;

}
.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}
.main-part {
  margin-bottom: 85px;

}
.main-part .container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.promo-material {
  font-size: 24px;
  line-height: 30px;
}
.promo-material-link {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.promo-material-link:hover,
.promo-material-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-material-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo-materials {
  background-color: #ffbf47;
}
.promo-instrument {
  background-color: #3bbce3;
}
.promo-technique {
  background-color: #dc91d8;
}
.promo-discount {
  background-color: #8ed78f;
}
.promo-delivery {
  background-color: #ffc047;
}
.promo-drills  {
  background-image: url("../img/drill.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}
.promo-perforators  {
  background-image: url("../img/perforators.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}
.promo-item {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.promo-note {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}
.main-button {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;

  background-color: #ee3643;
}

.main-button:hover,
.main-button:focus {
  background-color: #ca2c37;
}
.main-button:active {
  background-color: #ba2732;
}
.popular-header {
  background-color: #f9f5f0;
}
.popular {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.catalog-wrapper .container {
  display: flex;
}
.sorting {
  width: 700px;
  display: flex;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.selection-options {
  margin: 0px;
  padding: 0px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.catalog {
  width: 700px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.catalog-item {
  width: 218px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border: solid 1px #eaeaea;
}
.catalog-item:nth-child(3n) {
  margin-right: 0px;
}
.name-of-item {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.old-price {
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.new-price {
  line-height: 18px;
  background-image: url("../img/item-button.svg");
/*не задается размер изображения*/
}
.button-buy,
.button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.button-buy {
  background-color: #63a63e
}
.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}
.button-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}
.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425c;
}
.button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}
.producer {
  border: solid 1px #eaeaea;
  width: 220px;
  height: 145px;
  text-align: center;
}
.services {
  background-color: #f4f7f9;
  color: #000000;
}
.service-name {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}
.service-point {
  width :240px;
  height: 61px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  background-color: #32425c;
}
.service-point:hover,
.service-point:focus {
  background-color: #293449;
}
.service-point:active {
  color: #32425c;
  background-color: #ffffff;
}
.about-company {
  color: #000000;
}

.about-company .container {
 display: flex;
}
.company-description {
  width: 520px;
  margin-right: 120px;
}
.short-about-company {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.сompany-details {
  width: 520px;
  /*не влезает текст как на макете, почему?*/
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.сompany-details-delivery {
  width: 390px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.partners {
  margin-bottom: 0px;
  padding: 0px;

  font-size: 18px;
  line-height: 20px;
  list-style: none;
/*как изменить вид маркера?*/
}
.company-description .main-button {
  padding: 10px 40px 10px 41px;
  margin-top: 37px;
}

.main-contacts .сompany-details {
  width: 180px;
  margin-bottom: 30px;
}
.main-contacts .main-button {
  width: 300px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.map-popup {
  display: none;
}
.breadcrumbs {
  display: flex;
  padding: 0px;
  margin: 0px;

}
.breadcrumbs-link,
.breadcrumbs-current {
  margin-right: 40px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.catalog-name {
  padding: 0px;
  margin: 0px;
  padding-top: 32px;
  padding-left: 30px;
  padding-bottom: 34px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}
.selection {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.filters {
  width: 200px;
  margin-right: 20px;
}
.filter-fields {
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
.filter-field {
  line-height: 30px;
  font-weight: bold;
}
.filter-options {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label{
  opacity: 0.4;
}
.filter-button.button {
  font-size: 13px;
  line-height: 18px;
}

.selection-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}
.selection-link:hover,
.selection-link:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.selection-link:active {
  color: #ee3643;
 border-bottom: none;
}
.pagination-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
}
.pagination-item {
  margin-right: 10px;
}
.pagination-link-current,
.pagination-link,
.pagination-link-next {
  display: block;
  width: 38px;
  padding-top: 11px;
  padding-bottom: 14px;
  text-align: center;
}
.pagination-link-next {
  padding-left: 32px;
  padding-right: 32px;
}
.pagination-link {
  border: 1px solid #e5e5e5;
  color: #000000;
}
.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #bdc6ca;
}
.pagination-link:active {
  border: 1px solid #ee3643;
}
.pagination-link-current {
  color: #ffffff;
  background-color: #ee3643;
}
.about-perforators {
  padding-top: 65px;
  padding-bottom: 70px;
  color: #000000;
  background-color: #f4f7f9;

}
.about-perforator {

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.perforator-details {
  margin: 0px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}
.main-footer {
  background-color: #32425c;
}
.main-footer .container {
  display: flex;
}
.footer-logo {
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.footer-contacts {
  width: 322px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.list-items .footer-navigation-link{
  color: #ffd180;
}
.footer-navigation-link:hover,
.footer-navigation-link:focus,
.footer-feedback-mail:hover,
.footer-feedback-mail:focus,
.footer-developer-site:hover,
.footer-developer-site:focus {
  text-decoration: underline;
}
.footer-navigation-link:active {
  opacity: 0.5;
}
.footer-navigation-item,
.list-items {
  padding-right: 60px;
}
.footer-navigation-item {
  margin-bottom: 40px;
}
.footer-navigation:last-child,
.footer-navigation:nth-child(5) {
  padding: 0px;
}
.bottom-footer {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}
.bottom-footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 40px;
}
.footer-feedback-mail,
.footer-developer-site {
  color: #ffd180;
}
.footer-feedback-mail:active,
.footer-developer-site:active {
  color: #ee3643;
}
.footer-copyright {
  width: 230px;
  margin: 0px;
  padding: 0px;
  margin-right: 160px;
}
.social-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.footer-feedback {
  width: 135px;
  margin-right: 50px;
  margin-left: 115px
}
.footer-developer {
  width: 96px;
  padding-right: 15px;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*delete
.services,
.popular-producers,
.popular-items,
.promo {
  display: none;
}*/
.write-us-item {
  display: none;
}
.basket {
  display: none;
}
