
/*
- как задать данные по форме поиска по стайлгайду?
- в моем гугле переносы строк всё равно не соврадают с макетом

- как форму и карту выставить в нужное место на странице? позиционированием?
они должны быть всегда в одном месте?
- как сделать чтобы логотип техномартт в начале страницы слегка вылезал за
цвет меню (как в макете)?
- пункты фильтра не обводяться рамкой если шагать по ним с помощью tab?
-сортировка: как распределить пункты?
-как покрасить нижнюю часть формы "напишите нам"?
-в exp всё поехало
*/
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #ffffff;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  padding-bottom: 60px;
  margin-bottom: 20px;
  background-color: #f4f7f9;
}
.menu-top-wrapper{
 width: 100%;
 margin-bottom: 45px;
 background-color: #293449;
}
.menu-top-wrapper .container {
  display: flex;
  justify-content: flex-start;
  line-height: 18px;
}
.header-logo {
  width: 110px;
  padding: 13px 55px 15px 55px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.catalog-page .header-logo:focus,
.catalog-page .header-logo:hover {
  background-color: #ca2c37;
}
.catalog-page .header-logo:active {
  background-color: #ba2732;
}
.search-form {
  position: relative;
  width: 270px;
  background-color: #293449;
}
.search-form:hover,
.search-form:focus {
  background-color: #212a3a;
}
.search {
  font: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 49px;
  /*vertical-align: middle;*/
  background-color: inherit;
  border: none;
  outline: none;
}
/*для плэйсхолдера цвет?*/
.search:-blink-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.bottom-search {
  padding: 0px;
  margin: 0px;
}
.button-search {
  position: absolute;
  top: 12px;
  left: 17px;
  border: none;

  width: 20px;

  background-color: #293449;
  outline: none;
  opacity: 0.3;
}
.search-form:hover .button-search,
.search-form:focus .button-search {
    background-color: #212a3a;
    opacity: 1;
}

/*не вставляется картинка*/
/*.search::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.search:focus::before,
.search:hover::before {
  opacity: 1;
}
.search:hover:active {
  color: #ee3643;
}*/
.header-button {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  padding: 14px;
  text-align: center;
}
.bookmark {
   padding-left: 44px;
}
.basket-top {
  padding-left: 50px;
}
.header-button:hover,
.header-button:focus {
  background-color: #212a3a;
}
.header-button:active {
  background-color: #161d29;
}
.bookmark::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 13px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmark:focus::before,
.bookmark:hover::before {
  opacity: 1;
}
.bookmark:hover:active {
  opacity: 0.5;
}
.catalog-page .basket-top {
  background-color: #ee3643;
}
.basket-top::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.basket-top:focus::before,
.basket-top:hover::before {
  opacity: 1;
}
.basket-top:hover:active {
  opacity: 0.5;
}
.header-button:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
.checkout {
  width: 150px;
  padding: 14px;
  text-align: center;
  background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}
.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}
.menu-middle-wrapper {
  width: 100%;
}
.menu-middle-wrapper .container {
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;

}
.about-store {
  width: 195px;
  margin: 0px;
  margin-left: 50px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}
.header-contacts {
  margin: 0px;
  padding: 0px;
  margin-left: 70px;
  list-style: none;
}
.header-contacts-number {
  position: relative;
  width: 270px;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.header-contacts-number::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 14px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header-contacts-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}
.user-navigation {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: 69px;
  list-style: none;
}
.user-navigation-link {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #ee3643;
}
.registration {
  padding-left: 25px;
}
.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.user-navigation-in svg {
  padding-left: 14px;
  padding-right: 10px;
}
.user-navigation-in:hover path,
.user-navigation-in:focus path {
  fill: #293449;
}
.user-navigation-in:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.user-navigation-in {
  width: 121px;
  box-sizing: border-box;
  margin-right: 10px;
}
.user-navigation-registration {
  width: 150px;
}
.user-navigation-account-in {
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 11px;
  margin-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}
.user-navigation-profile {
  position: relative;
  color: #000000;
  padding-right: 38px;
}
.user-navigation-profile:active {
  opacity: 0.3;
}
.user-navigation-profile svg {
  padding-left: 13px;
  padding-right: 10px;
  width: 20px;
  height: 18px;
}
.user-navigation-profile path {
  fill: #c5c5c5;
}
.user-navigation-profile:hover path,
.user-navigation-profile:focus path {
  fill: #293449;
}
.user-navigation-profile:active path {
  fill: #c5c5c5;
}

/*.user-navigation-profile::before {
  content: "";

  position: absolute;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}*/

.user-navigation-logout svg {
  padding-left: 35px;
  padding-right: 10px;
}
.user-navigation-logout:hover path,
.user-navigation-logout:focus path {
  fill: #293449;
}
.user-navigation-logout:active path {
  fill: #c5c5c5;
}

.my-orders,
.account {
  margin-left: 51px;
  padding-left: 17px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.account {
  margin: 0px;
  padding-left: 32px;
}
.my-orders:hover,
.my-orders:focus,
.account:hover,
.account:focus {
  color: #ee3643;
}
.my-orders:active {
  opacity: 0.3;
}
.account:active {
  display: none;
}
.main-navigation {
  width: 920px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 44px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 rgb(41, 52, 73);

}
.site-navigation{
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation-link,
.site-navigation-current {
  display: block;
  padding: 15px 30px 15px 30px;
}
.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #293449;

}
.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.promo .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  margin-top: 50px;
  margin-bottom: 53px;
}
.block {
  width: 300px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}
.block:nth-child(n+4) {
  margin-right: 0;
}
.promo-material {
  display: block;
  padding: 23px 165px 12px 23px;
  font-size: 24px;
  line-height: 30px;
}

.promo-material-link {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 22px;
  margin-left: 21px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.promo-material-link:hover,
.promo-material-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-material-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo .flag {
  position: absolute;
  top: 1px;
  left: 250px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.promo .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.promo-materials {
  background-color: #ffbf47;
}

.promo-instrument {
  background-color: #3bbce3;
}
.promo-technique {
  background-color: #dc91d8;
}
.promo-discount {
  background-color: #8ed78f;
}
.promo-delivery {
  position: absolute;
  bottom: 0px;
  right: 10px;
  margin-bottom: 0;
  background-color: #ffc047;
}
.slider-wrapper {
  position: relative;
  margin-right: 20px;
}
.promo-drills  {
  position: relative;
  z-index: 2;
  background-image: url("../img/drill.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}
.promo-perforators  {
  position: absolute;
  top: 0px;
  z-index: 1;
  background-image: url("../img/perforators.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}
.slider {
  position: absolute;
  top: 114px;
  z-index: 3;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.pre-slide {
  left: 25px;
}
.next-slide {
  right: 25px;
}
.promo-item {
  display: block;
  margin-left: 24px;
  padding-top: 27px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;

}
.promo-note {
  display: block;
  margin-top: 6px;
  margin-left: 24px;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}
.main-button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;

  background-color: #ee3643;
  text-transform: uppercase;
}
.slider-wrapper .main-button {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
  height: 38px;
  box-sizing: border-box;
  padding-left: 45px;
  padding-top: 10px;
;

}
.main-button:hover,
.main-button:focus {
  background-color: #ca2c37;
}
.main-button:active {
  background-color: #ba2732;
}

.popular-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.popular-item .catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.popular-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}
.popular-header .main-button {
  width: 253px;
  box-sizing: border-box;
  padding: 12px 0;
  margin-top: 25px;
  margin-right: 26px;
  margin-bottom: 26px;
  text-align: center;
}
.popular {
  margin: 0;
  padding: 0;
  padding: 33px 0px 0px 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.popular-producers {
  margin-bottom: 65px;
}
.producer-name {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.producer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}
.producer:nth-child(4n) {
  margin-right: 0px;
}
.producer-link {
  align-self: center;
}
.producer:focus,
.producer:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.producer:active {
  opacity: 0.5;
}
.catalog-wrapper .container {
  display: flex;
}
.sorting {
  width: 700px;
  display: flex;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
}
.selection {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #f7f3ec;
  text-transform: uppercase;
}
.sorting .selection {
  margin-right: 138px;
}
.selection-options {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  margin-left: 20px;
  display: flex;

  list-style: none;
}

.selection-option {
  position: relative;
  margin-left: 20px;
}
.selection-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}
.selection-link:hover,
.selection-link:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.selection-link:active {
  color: #ee3643;
  border-bottom: none;
}
.selection-link-sorting:hover path {
  opacity: 0.3;
}

.selection-link-sorting:active path,
.selection-link-sorting:focus path {
  fill: #ee3643;
  opacity: 1;
}
.catalog {
  width: 700px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;

}
.catalog-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid #eaeaea;
}
.catalog-page .catalog-item:nth-child(3n) {
  margin-right: 0px;
}
.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.shopping-menu {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.button-buy,
.button-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  font-weight: normal;
}
.catalog-item .shopping-menu {
  display: none;
}
.catalog-item:hover,
.catalog-item:focus {
box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.catalog-item:hover .shopping-menu,
.catalog-item:focus .shopping-menu {
  display: block;
}
.catalog-items {
  width: 218px;
  height: 168px;
  max-width: 100%;
}

.name-of-item {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.new-price {
  display: block;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;

  line-height: 18px;
}
.new-price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}
.button-buy,
.button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.button-buy {
  position: relative;
  background-color: #63a63e;
}
.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}
.button-buy::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 10px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.button-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}
.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425c;
}
.button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}
.producer {
  border: solid 1px #eaeaea;
  width: 220px;
  height: 145px;
  text-align: center;
}
.services {
  position: relative;
  padding-top: 68px;
  background-color: #f4f7f9;
  color: #000000;
}
.services .сompany-details {
  width: 400px;
}
.delivery-wrapper,
.warranty-wrapper,
.credit-wrapper {
  display: flex;
  margin-top: 70px;
  padding-bottom: 99px;
}
.delivery-wrapper {
  position: relative;
  top: 0px;
  z-index: 2;
}
.warranty-wrapper {
  display: none;
  position: absolute;
  top: 204px;
  z-index: 1;
}
.credit-wrapper {
  display: none;
  position: relative;
  top: 204px;
  z-index: 1;
}
.service-name {
  margin: 0;
  padding: 0px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}
.delivery-wrapper .сompany-details {
  width: 275px;
  margin-bottom: 0;
}
.warranty-wrapper .сompany-details {
  width: 379px;
  margin-bottom: 0;
}
.credit-wrapper .сompany-details {
  width: 279px;
  margin-bottom: 0px;
}
.credit-wrapper .main-button {

  width: 195px;
  padding: 10px 0;
  margin-top: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: #ff5357;
}
.service-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-point {
  width :240px;
  height: 61px;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  vertical-align: middle;
  background-color: #32425c;
  border: none;
  border-bottom: 1px solid #293449;
  box-shadow: 0px 1px 0 0 rgb(41, 52, 73), inset 0px 1px 0 0 rgb(64, 80, 105);
  cursor: pointer;
}
.service-point-current {
  width :240px;
  height: 61px;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #32425c;
  text-align: left;
  vertical-align: middle;
  background-color: #ffffff;
  border: none;
}
.service-point:hover,
.service-point:focus {
  background-color: #293449;
}
.service-point:active {
  color: #32425c;
  background-color: #ffffff;
}
.first-column {
  margin-right: 80px;
}
.about-company {
  color: #000000;
}

.about-company .container {
 display: flex;
 margin-top: 82px;
 margin-bottom: 86px;
}
.company-description {
  width: 520px;
  margin-right: 120px;
}
.short-about-company,
.сompany-details,
.сompany-details-delivery {
  margin: 0;
  padding: 0;
}
.short-about-company {
  margin-bottom: 34px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.сompany-details {
  width: 520px;
  margin-bottom: 30px;
  /*не влезает текст как на макете, почему?*/
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.сompany-details-delivery {
  width: 390px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.partners {
  margin-bottom: 0px;
  margin-top: 36px;
  padding: 0px;

  font-size: 18px;
  line-height: 20px;
  list-style: none;
/*как изменить вид маркера?*/
}
.partner-name {
  position: relative;
  margin-left: 35px;
  margin-bottom: 23px;
}
.partner-name:last-of-type {
  margin-bottom: 0;
}
.partner-name::before {
  position: absolute;
  top: 8px;
  left: -35px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;

}
.company-description .main-button {
  width: 220px;
  box-sizing: border-box;
  padding: 10px 40px 10px;
  margin-top: 37px;
}

.main-contacts .сompany-details {
  width: 180px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.main-contacts .main-button {
  width: 300px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 15px;
  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.png");
}
.breadcrumbs-item:last-child::after {
  display: none;
}
.breadcrumbs-link,
.breadcrumbs-current {
  margin-right: 40px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.catalog-name {
  padding: 0px;
  margin: 0px;
  padding-top: 32px;
  padding-left: 30px;
  padding-bottom: 34px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filters-form {
  margin-top: 20px;
}
.filters {
  width: 220px;
  margin-right: 20px;
}
.filter-range {
  width: 220px;

}
.price-controls {

  margin-bottom: 25px;
}
.price-range {
  margin: 0;
  padding: 0 5px;
  vertical-align: top;
  line-height: 18px;
}
/*
.price-controls .min-price,
.price-controls .max-price {
  width: 95px;

}*/
.price-controls input {
  width: 95px;
  height: 38px;
  margin: 0;

  color: inherit;
  font: inherit;
  text-align: center;
  background: #f7f3ec;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 9px;
  padding: 39px 20px;

  background-color: #f7f3ec;
}
.range-controls .scale {
  width: 180px;
  height: 2px;

  background: #d7dcde;
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: rgba(3, 198, 120);
}
.range-toggle {
  position: absolute;
  top: 30px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 160px;
}
.filter-fields,
.filter-button {
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
.filter-fields {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f3ec;
}
.filter-field {
  margin-bottom: 15px;
  line-height: 30px;
  font-weight: bold;
}
.filter-fields:last-of-type {
  border: none;
  margin-bottom: 70px;
}
.filter-options {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter-option {
  margin-bottom: 17px;
  padding-left: 35px;
}
.filter-option label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  z-index: 1;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;
  width: 26px;
  height: 23px;
  z-index: 2;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox + label:focus,
.filter-input-checkbox + label:hover {

  /*background-image нет в нужном цвете, как быть?*/
}
.filter-input-radio + label::before {
  content: "";

  position: absolute;

  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio + label:focus,
.filter-input-radio + label:hover {
  opacity: 0.6;
  /*background-image нужно скачать в новом цвете и вставить*/
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label{
  opacity: 0.4;
}
.filter-button {
  width: 140px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 11px;

  font-size: 13px;
  line-height: 18px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
}

.pagination-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-bottom: 65px;

  list-style: none;
}
.pagination-item {
  margin-right: 10px;
}
.pagination-link-current,
.pagination-link,
.pagination-link-next {
  display: inline-block;
  min-width: 38px;
  padding-top: 11px;
  padding-bottom: 14px;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.pagination-link-next {
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-transform: uppercase;
}
.pagination-link {
  border: 1px solid #e5e5e5;
  color: #000000;
}
.pagination-link:hover,
.pagination-link:focus,
.pagination-link-next:hover,
.pagination-link-next:focus {
  border: 1px solid #bdc6ca;
}
.pagination-link:active,
.pagination-link-next:active {
  border: 1px solid #ee3643;
}
.pagination-link-current {

  color: #ffffff;
  background-color: #ee3643;
}
.about-perforators {
  padding-top: 65px;
  padding-bottom: 70px;
  color: #000000;
  background-color: #f4f7f9;

}
.about-perforator {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.perforator-details {
  margin: 0px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}
.main-footer {
  background-color: #32425c;
}
.main-footer .container {
  display: flex;
}
.footer-logo {
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.footer-contacts {
  width: 323px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-menu {
  display: flex;
  flex-direction: column;
}
.footer-navigation-main,
.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  margin-left: 67px;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.footer-navigation {
  margin-top: 0px;
  margin-bottom: 70px;
  padding-left: 23px;
}
.list-items .footer-navigation-link{
  color: #ffd180;
}
.footer-navigation-link:hover,
.footer-navigation-link:focus,
.footer-feedback-mail:hover,
.footer-feedback-mail:focus,
.footer-developer-site:hover,
.footer-developer-site:focus {
  text-decoration: underline;
}
.footer-navigation-link:active {
  opacity: 0.5;
}
.footer-navigation-item,
.list-items {
  padding-right: 60px;
}
.footer-navigation-item {
  margin-bottom: 40px;
}
.list-items:last-child,
.footer-navigation-item:nth-child(5) {
  padding: 0px;
}
.bottom-footer {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}
.bottom-footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-feedback-mail,
.footer-developer-site {
  color: #ffd180;
}
.footer-feedback-mail:active,
.footer-developer-site:active {
  color: #ee3643;
}
.footer-copyright {
  width: 230px;
  margin: 0px;
  padding: 0px;
  margin-right: 160px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  background-color: #212a3a;
}
.social-button:focus,
.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}
.footer-feedback {
  width: 135px;
  margin-right: 50px;
  margin-left: 115px
}
.footer-developer {
  width: 96px;
  padding-right: 15px;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*delete
.services,
.popular-producers,
.popular-items,
.promo {
  display: none;
}*/
.modal {
  position: fixed;
  background-color: #ffffff;

}
.write-us-items {
  display: none;

  bottom: 200px;
  left: 50%;
  width: 460px;
  margin-left: -300px;
  padding: 40px 80px 37px 80px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;
}

/*появляется отступ, не понимаю почему*/
.write-us-item {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}
.write-us-item label {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.write-us-item:last-of-type {
  width: 460px;
  margin: 0;
}
.sender-name,
.email,
.mail-text {
  width: 220px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: 2px solid #dee3e4;
  box-sizing: border-box;
  font-size: 0;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}
.sender-name {
  margin-right: 20px;
}
.mail-text {
  min-width: 460px;
  max-width: 460px;
  min-height: 114px;
  margin-bottom: 37px;

}
.form-name,
.form-email {
  width: 220px;
  min-height: 38px;
}


.button-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  background-color: #ffffff;
}

.button-close::before,
.button-close::after {
  content: "";

  position: absolute;

  top: 9px;
  right: -2px;
  width: 26px;
  height: 4px;

  background-color: #ee3643;
}
.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}
.button-send {
  padding: 0;
  margin: 0;
  font-size: 0px;
  border: none;
  outline: none;
}

.button-send {
  width: 460px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;

  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  cursor: pointer;
}
.map-popup {
  display: none;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 447px;
  margin-top: -280px;
  margin-left: -470px;

  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.75);
}

.map-popup .button-close {

  right: 20px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0);

}
.basket {
  width: 620px;
  top: 411px;
  left: 50%;
  width: 40px;

  padding: 40px 80px 37px 80px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}
.add-to-basket {
  padding: 0;
  margin: 0;
  margin-top: 68px;
  font-size: 30px;
  line-height: 30px;
}
.buy-now,
.basket-close {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.buy-now {
  color: #ffffff;

}
.basket-close {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  color: #000000;
}
